@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Source Code Pro", monospace;
  
}
.header-desing {
  background-color: #000000;
}
.hero-desing {
  background-color: #000000;
}


/*#28282b -grey color